.message-bubble {
  border-radius: 1.15rem;
  line-height: 1.25;
  max-width: fit-content;
  padding: 1rem;
  padding-top: 1.15rem;
  position: relative;
  word-wrap: break-word;
  background-color: #248df5;
  color: #fff; 
  max-height: 55px;
  margin-left: 1em;
}

.message-bubble::before,
.message-bubble::after {
  bottom: -0.1rem;
  content: "";
  height: 1rem;
  position: absolute;
}

.message-bubble::before {
  border-bottom-right-radius: 0.8rem 0.7rem;
  border-left: 1rem solid #248df5;
  left: -0.35rem;
  transform: translate(0, -0.1rem);
}

.message-bubble::after {
  background-color: #fff;
  border-bottom-right-radius: 0.5rem;
  left: 20px;
  transform: translate(-30px, -2px);
  width: 10px;
}

.typing-dot {
  height: 12px;
  width: 12px;
  border-radius: 100%;
  margin-left: 4px;
  display: inline-block;
  background-color: rgb(219, 238, 248);
  animation: 2s typing-dot ease-in-out infinite;
 }
 .typing-dot:nth-of-type(2) {
  animation-delay: 0.2s;
 }
 .typing-dot:nth-of-type(3) {
  animation-delay: 0.4s;
 }
 @keyframes typing-dot {
  15% {
    transform: translateY(-35%);
    opacity: 0.5;
  }
  30% {
    transform: translateY(0%);
    opacity: 1;
  }
 }