.review-stars {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.review-stars svg {
  height: 2em;
  width: 2em;
  color: rgb(255, 217, 0);
  margin: 0.2em;
  animation: 2s stars ease-in infinite;
}
.review-stars svg:nth-of-type(2) {
  animation-delay: 0.2s;
 }
 .review-stars svg:nth-of-type(3) {
  animation-delay: 0.4s;
 }
 .review-stars svg:nth-of-type(4) {
  animation-delay: 0.6s;
 }
.review-stars svg:nth-of-type(5) {
  animation-delay: 0.8s;
 }
 @keyframes stars {
  15% {
    opacity: 0.5;
}
  30% {
    opacity: 1;
  }
 }

 /* Desktop Styles */

@media (min-width: 875px) {
  .review-stars svg {
    height: 2.5em;
    width: 2.5em;
  }
}

